@model ASPToep.Models.RegisterViewModel
@{ViewData["Title"] = "Register"; }

<body style="padding: 0px;">
    <partial name="Razorpages/LoginHeader" />

    <div class="form">
        <div class="thumbnail"><img src="~/images/Logo.png" /></div>

        <form asp-action="Register" class="login-form">
            <input asp-for="Username" placeholder="Username" />
            <input asp-for="Firstname" placeholder="First name" />
            <input asp-for="Lastname" placeholder="Last name" />
            <input asp-for="Password" placeholder="Password" />
            <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <input asp-for="Email" placeholder="Email address" />

            <div asp-validation-summary="ModelOnly"></div>

            <button>create</button>
            <p class="message">Already registered? <a data-href="Login">Sign In</a></p>
        </form>
    </div>

    @section Scripts{
        <script src="~/js/Login.js"></script>
    }

    @section Stylesheets{
        <link rel="stylesheet" href="~/css/Login.css" />
    }

</body>