@model ASPToep.Models.CreateGameViewModel

<body>
    <partial name="Razorpages/Sidebar" />
    <main>
        <div class="Container gameContainer addPlayerContainer">
            <div class="addPlayersSub">
                <h1> Create Game </h1><br /><br />
                <div class="dropdown">
                    <div class="select">
                        <span id="playerSelect">Select Players</span>
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" id="valueField" name="player">
                    <ul class="dropdown-menu" id="dropdownMenuId">
                        <li id="nonClick"><input id="inputFilter" onkeyup="filterFunction()" /><button class="newPlayerButton">+</button></li>
                        @foreach (var user in Model.AllUsers)
                        {
                            <li id="@user.Id">@user.Username</li>
                        }
                    </ul>
                </div>

                <input id="inputLimit" placeholder="Score Limit" />

                <button class="addPlayerButton" onclick="AddPlayerToList()">Add Player</button>
                <button class="startGameButton" onclick="SendList()">Start Game</button>

                <ul id="playerListId" class="playerListUl"></ul>
            </div>
        </div>

        <script>

        </script>
    </main>
</body>

@section Stylesheets{
    <link rel="stylesheet" href="~/css/Game.css" />
    <link rel="stylesheet" href="~/css/fonts/font-awesome.css" />
}
@section Scripts{
    @*<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>*@
    <script src="~/js/CreateGame.js"></script>
    <script src="~/js/Dropdown.js"></script>
    <script src="~/js/Sidebar.js"></script>
}