@model ASPToep.Models.CreateGameViewModel

<body>
    <partial name="Razorpages/Sidebar" />
    <main>
        <div class="Container gameContainer addPlayerContainer">
            <div class="addPlayersSub">
                <h1> Create Game </h1><br /><br />
                <div class="dropdown">
                    <div class="select">
                        <span id="playerSelect">Select Players</span>
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <input type="hidden" id="valueField" name="player">
                    <ul class="dropdown-menu" id="dropdownMenuId">
                        <li id="nonClick"><input id="inputFilter" onkeyup="filterFunction()" /><button class="newPlayerButton">+</button></li>
                        @foreach (var user in Model.AllUsers)
                        {
                            <li id="@user.Id">@user.Username</li>
                        }
                    </ul>
                </div>

                <input id="inputLimit" placeholder="Score Limit"/>

                <button class="addPlayerButton" onclick="AddPlayerToList()">Add Player</button>
                <button class="startGameButton" onclick="SendList()">Start Game</button>

                <ul id="playerListId" class="playerListUl"></ul>
            </div>
        </div>

        <script>
            //Add Player to List
            function AddPlayerToList() {
                var span = $("span#playerSelect")
                var text = span.text();
                var liTag = document.getElementsByTagName("li");
                var id = 'undefined';

                for (var i = 0; i < liTag.length; i++) {
                    if (liTag[i].textContent == text) {
                        id = liTag[i].id;
                        span.text('Select Players');
                        liTag[i].remove();
                        break;
                    }
                }

                if (id != 'undefined') {
                    var li = document.createElement("li");
                    li.id = id;
                    li.innerHTML = text;

                    var ul = document.getElementById('playerListId');
                    ul.appendChild(li);
                }
            }

            function filterFunction() {
                var input, filter, ul, li, i;
                input = document.getElementById("inputFilter");
                filter = input.value.toUpperCase();
                ul = document.getElementById("dropdownMenuId");
                li = ul.getElementsByTagName("li");

                for (i = 0; i < li.length; i++) {
                    if (li[i].id != "nonClick") {
                        txtValue = li[i].textContent || li[i].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            li[i].style.display = "";
                        } else {
                            li[i].style.display = "none";
                        }
                    }
                }
            }

            function SendList() {
 
                var limit = document.getElementById("inputLimit").value;
                var dataStream = '';
                var dataStreamLen = 0;
                var liTag = document.getElementsByTagName("li");
                for (var i = 0; i < liTag.length; i++) {
                    if (liTag[i].parentNode.id == 'playerListId') {
                        dataStream += liTag[i].id + ";";
                        dataStreamLen++;
                    }
                }       

                if (dataStreamLen > 1) {
                    $.ajax({
                        url: '/Game/StartGame',
                        data: {
                            dataStream: dataStream,
                            limit: limit
                        },
                        type: "POST",
                    }).done(function (url) {
                        window.location.href = url.newUrl;
                    }).fail(function (xhr, a, error) {
                        console.log(error);
                    });
                }
            }
        </script>
    </main>
</body>

@section Stylesheets{
    <link rel="stylesheet" href="~/css/Game.css" />
    <link rel="stylesheet" href="~/css/fonts/font-awesome.css" />
}
@section Scripts{
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    @*<script src="~/js/Game.js"></script>*@
    <script src="~/js/Dropdown.js"></script>
    <script src="~/js/Sidebar.js"></script>
}